<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:roundIcon="@drawable/title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="ocr,text" />
        </activity>
        <activity android:name=".NavActivity"/>

        <activity android:name=".ocr.OCRActivity"/>
        <activity android:name=".auth.RegisterActivity"/>
        <activity android:name=".rank.RankActivity"/>
        <activity android:name=".rank.ListActivity"/>
        <activity android:name=".firstrun.EggSelectActivity"/>
        <activity
            android:name=".firstrun.TutorialActivity"/>
        <activity android:name=".shop.ShopCategoryActivity"/>
        <activity android:name=".shop.ShopBuyActivity"/>
        <activity android:name=".rank.VisitActivity"/>
        <activity android:name=".history.HistoryActivity"/>
    </application>

</manifest>